@import "tailwindcss";

@theme {
    --color-dracula: #ff0031;

    --font-inter: var(--font-inter);
}

body {
    background: black;
    color: white;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
